*,*::before,*::after{
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* GLOBAL */
.blurFx{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(2px);
}
.container{
  width: 90%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  padding: 0 15px;
}
.border{
  border: 1px solid tomato;
}
.pos-center{
  margin-left: 50%;
  transform: translate(-50%, 0);
}



header{
  height: 60px;
  background-color: rgb(41, 41, 41);
  /* display: grid;
  grid-template-columns: 2fr 1fr; */
}
header div{
  height: 100%;
}
.h-logo{
  margin-left: 10%;
}
.h-logo div{
  height: 50%;
  width: 50%;
}
.logo-container{
  position: relative;
  display: flex;
  color: rgb(161, 159, 159);
}
.logo-container img{
  /* position: absolute; */
  height: 40px;
  margin: 10px;
}


/* MENU DRAWER BUTTON */
.menu-drawer-container{
  position: fixed;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  border: 2px solid rgb(219, 219, 219);
  background-color: rgb(41, 41, 41);
  box-shadow: 0px 0px 5px 0px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 20;
}
.menu-drawer{
  position: absolute;
  height: 5px;
  width: 80%;
  background-color: white;
  border-radius: 50px;
  margin-left: 0;
  transition: .2s all ease-in-out;
}
.menu-drawer::before,
.menu-drawer::after{
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 50px;
  transition: .2s all ease-in-out;
}
.menu-drawer::before{
  transform: translate(0,-10px);
}
.menu-drawer::after{
  transform: translate(0,10px);
}

.menu-drawer-container.open .menu-drawer{
  margin-left: -50px;
  background: transparent;
  transition: .2s all ease-in-out;
}
.menu-drawer-container.open .menu-drawer::before{
  transform: rotate(-45deg) translate(18px, 18px);
}
.menu-drawer-container.open .menu-drawer::after{
  transform: rotate(45deg) translate(18px, -18px);
}




/* MENU************ */
.menu-container{
  position: fixed;
  /* border: 1px solid red; */
  background-color: rgba(0,0,0,.2);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  
}
.menu-container.close{
  display: none;
}

.menu-content{
  position: fixed;
  /* border: 1px solid yellow; */
  border-right: 1px solid rgb(186, 186, 186);
  background-color: rgb(255, 255, 255);
  top: 0;
  bottom: 0;
  width: 40%;
  margin-left: 0;
  transition: .3s all ease-in-out;
}
.menu-content.close{
  margin-left: -100%;
  transition: .3s all ease-in-out;
}
.menu-header{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
}
.mn{
  transition: .3s all ease-in-out;
}
.mn:hover{
  box-shadow: 0px 1px 5px 0px black;
  transition: .3s all ease-in-out;
  animation: menuBg .5s 1;
  animation-fill-mode: forwards;
}
@keyframes menuBg{
  from{background-image: linear-gradient(to right, rgb(200, 200, 200) 0%,white)}
  to{background-image: linear-gradient(to right, rgb(200, 200, 200) 100%, white)}
  /* from{background-color: white;}
  to{background-color: rgb(189, 189, 189);} */
}

.menu1,
.menu2,
.menu3{
  border: 1px solid rgb(109, 109, 109);
  background-color: rgb(240, 240, 240);
  padding: 5px;
  margin: 4px 0;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}
.menu3 > a{
  color: rgb(14, 13, 13);
  text-decoration: none;
}

/* .menu1{
  border: 1px solid blue;
}
.menu2{
  sadfasdf
} */
.menu3{
  position: absolute;
  bottom: 0;
  padding: 4px;
  background-color: tomato;
  color: rgb(0, 0, 0);
}




.main-container{
  width: 100%;
  display: flex;
}


/* SECTION 1********* */

.section1{
  width: 100%;
  /* display: none; */
}
.section2{
  /* border: 1px solid red;
  background-color: tomato;
  height: 100vh; */
  width: 100%;
  display: none;
}

/* Switch between sections */
.main-container.sec2 .section1{
  display: none;
}
.main-container.sec2 .section2{
  display: block;
}


/* SECTION 1 ******************* */
.sec1-a{
  /* border: 1px solid rgb(56, 56, 56); */
  height: 120px;
  display: grid;
  grid-template-columns: 2fr auto;
}
.sec1a{
  /* border: 1px solid red; */
  height: 60px;
  overflow: hidden;
}
.sec1a:nth-child(1){
  padding-left: 15%;
  display: flex;
}
.user-details{
  padding-left: 16px;
}
.user-details h3{
  padding: 0;
  margin: 0;
}
.user-details h3 > a{
  text-decoration: none;
  color: rgb(41, 41, 41);
}
.user-details p:nth-of-type(1){
  font-style: italic;
  font-size: .8em;
  color: gray;
}
.user-details p:nth-of-type(2){
  font-style: bold;
  font-size: .8em;
  color: gray;
}
.dp-img{
  height: 100%;
  border: 1px solid rgb(105, 105, 105);
}

/* .sec1a:nth-child(2){
  width: 10%;
} */
.sec1a:nth-child(3){
  grid-area: 2 / 1 / 3 / 3;
  box-shadow: 0px 1px 2px 0px black;
}

.search-item{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-item select{
  padding: 5px;
  border: none;
}
.search-item input[type=text]{
  padding: 5px;
}
.search-item button{
  padding: 7px 10px;
  background-color: rgb(221, 162, 68);
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
}


/* ITEM LIST */

.header{
  /* border: 1px solid gray; */
  height: 30px;
}
.item-delete{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-delete a{
  padding: 0 7px;
  transform: translate(0, 4px);
}
.item-delete a svg{
  font-size: 1.2em;
  color: tomato;
}

.select-all-container{
  display: flex;
  margin-left: 10px;
}
.select-all-container p{
  font-size: .7em;
}
/* PAGE */
.page-container{
  display: flex;
  position: absolute;
  left: 50%;
}
.page-container div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-container div a{
  color: rgb(77, 77, 77);
  font-size: .7em;
  text-decoration: none;
  margin: 0 1px;
  background-color: rgb(192, 192, 192);
  background-image: linear-gradient(white, gray);
  padding: 0 .4em;
  border: 1px solid gray;
  border-radius: 50%;
}




/* sec1-c ****************/
.sec1-c{
 /*  border: 1px solid red; */
  padding: 0 4px;
  position: relative;
  /* display: flex; */

  /* z-index: 0; */
}

.sec1-c-a{
  position: relative;
  /* border: 1px solid orange; */
  width: 100%;
  height: 470px;
  overflow-y: scroll;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: -1px 0px 2px 0 black;
  border-radius: 10px 0 0 0;
}
.sec1-c-a .items{
  /* padding: 5px; */
  margin: 5px 0;
  height: auto;
  display: flex;
  margin-top: 2px;
  position: relative;
}
.table1{
  border-collapse: collapse;
  width: 100%;
}
/* .table1 tbody{
  height: 150px;
} */
.table1 tbody tr{
  border-bottom: 5px solid white;
  height: 70px;
  overflow: hidden;
}
.table1 th,tr,td{
  border-bottom: 2px solid white;
  background-image: linear-gradient(rgb(179, 179, 179), rgb(233, 233, 233));
}

.table1 tr:nth-of-type(odd){
  background-image: linear-gradient(rgb(233, 233, 233),rgb(179, 179, 179));
}

.table1 td:nth-child(1){
  width: 1%;
  padding-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table1 td:nth-child(2){
  width: 15%;
}
.table1 td:nth-child(2) img{
  width: 50px;
}


.table1 td:nth-child(3) p:nth-child(1){
  font-weight: bold;
  font-size: .8em;
}
.table1 td:nth-child(3) p:nth-child(2){
  /* font-weight: lighter; */
  font-size: .8em;
}
.table1 td:nth-child(4){
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 8px;
  padding-left: 8px;
}
.table1 td:nth-child(4) svg{
  /* width:2%; */
color: rgb(57, 122, 46);
cursor: pointer;
}


.sec1-c-a .items img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.items-b{
  position: relative;
}
.items-b p:nth-child(1){
  font-size: .9em;
  font-weight: bold;
}
.items-b p:nth-child(2){
  font-size: .7em;
  font-weight: light;
}



.sec1-c-b{
  display: none;
  height: 450px;
  border: 1px solid blue;
  width: 30%;
}


/* SECTION 2 ********************* */
.section2{
  background-color: rgb(102, 102, 102);
}
.sec2-main-container{
  border: 1px solid rgb(68, 68, 68);
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px black;
}

.sec2-header{
  background-color: rgb(218, 183, 86);
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 5px;
}

.inpts{
  display: flex;
  flex-direction: column;
  padding: 0 4px;
}

#item-category{
  margin: 4px 0;
  padding: 4px;
  width: 40%;
  border: 1px solid rgb(167, 167, 167);
}

#item_available,
#item_name,
#item_sub_name,
#item_short_desc,
#item_overview,
#item_information,
#item_specification,
.item-included-input,
.spec-input-txt{
  margin-bottom: 4px;
  border: none;
  border-bottom: 2px solid rgb(148, 148, 216);
  background-color: #fbfbfb;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: none;
}

#item_available{
  width: 40%;
}

/* .specific-container{
  border: 1px solid red;
} */
.specific-container ul{
  /* border: 1px solid yellow; */
  padding: 0 4px;
}
.specific-container ul li{
  list-style: none;
  border: 1px solid rgb(113, 113, 250);
  background-color: rgb(220, 220, 250);
  padding: 4px;
  margin: 4px 0;
  font-size: .8em;
  border-radius: 4px;
}
.spec-close{
  color: red;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

.spec-add-btn,
.item-included-btn{
  /* margin-left: 50%;
  transform: translate(-50%, 0); */
  padding: 4px;
  width: 46px;
}


.items-included-title{
  margin: 8px;
  font-weight: bold;
}
.item-included-container ul{
  padding: 0;
  margin-bottom: 8px;
}
.item-included-container ul li{
  list-style: none;
  background-color: rgb(255, 253, 144);
  border: 1px solid rgb(238, 137, 23);
  border-radius: 4px;
  padding: 4px;
  margin: 4px 0;
  font-size: .8em;
}
.item-list-close{
  float: right;
  color: red;
  font-weight: bold;
  cursor: pointer;
}


/* SUBMIT BUTTON */
.btn-new-item{
  font-size: 1.4em;
  padding: 16px 0;
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  border: 1px solid gray;
  background-image: linear-gradient(rgb(236, 236, 236),rgb(144, 144, 144));
  border-radius: 10px;
  cursor: pointer;
  transition: .4s all ease-in-out;
}
.btn-new-item:hover{
  background-image: linear-gradient(rgb(236, 236, 236),rgb(158, 158, 158));
  text-shadow: 1px 2px 5px black;
  box-shadow: 1px 1px 4px 0px black;
  transition: .4s all ease-in-out;
}




footer{
  height: 200px;
  background-color: rgb(41, 41, 41);
}




















@media screen and (min-width: 576px){
  .menu-content{
    width: 25%;
  }
 
  .search-item{
   float: right;
   /* transform: translate(27%, 0); */
   }
 
   /* check box all */
   .select-all-container{
     margin-left: 11%;
   }
 
   .sec1-c{
     padding: 0 10%;
   }
 
   /* sec1-c-b */
   .sec1-c-b{
     display: block;
     margin: 8px;
   }
 
   .sec1-c{
     position: relative;
     display: flex;
   }
   
   .sec1-c-a{
     width: 100%;
   }
  
}

@media screen and (min-width: 768px){
  /* GLOBAL */
  .container{
    width: 80%;
  }
  /* .main-container{
    padding: 0 5%;
  } */


  





  /* SECTION 2 ************* */
 
  .sec2-body{
    grid-template-columns: 1fr 1fr;
    padding: 0 5%;
  }
  .sec2-body > div{
    width: 100%;
  }
  .sec2-body > div:nth-child(2){
    grid-area: 1 / 2 / 2 / 3;
  }
  .sec2-body > div:nth-child(3){
    grid-area: 2 / 1 / 3 / 3;
  }

}

@media screen and (min-width: 992px){
   /* GLOBAL */
   .container{
    width: 70%;
  }


  .menu-content{
    width: 20%;
  }
 
  /* Sec-c */

  .sec1-c-a{
    height: 500px;
  }

  /* SECTION 2 ************* */
  /* .sec2-header{
    width: 70%;
  } */

}