*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

html,body{
  width: 100%;
  margin: 0;
  
}

body{
  /* display: flex;
  justify-content: center; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(165, 165, 165);
  background-image: linear-gradient(rgb(126, 126, 126),rgb(211, 211, 211));
  padding: 16px 0;
  color: rgb(42, 42, 42);
}


.container{
  /* border: 1px solid red; */
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 8px 0px black;
}

.header{
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0; */
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 16px;
  
}

.section1{
  position: relative;
  padding: 0 16px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(236, 236, 236);
  background-image: linear-gradient(rgb(236, 236, 236),white);
}
/* 
.section1 > div{
  border-bottom: 1px solid blue;
} */

.sec1-a:nth-of-type(1){
  height: 270px;
  padding: 4px;
  overflow-y: scroll;
  
}
.sec1-a:nth-of-type(1)::-webkit-scrollbar{
  display: none;
}


.table1{
  /* border-collapse: collapse; */
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1.2em;
  /* border: 1px solid black; */
}
.table1 .tbody1 tr{
  row-gap: 10px;
}

.tr1 td:nth-of-type(1){
  padding: 8px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tr1 td:nth-of-type(2){
  position: relative;
  padding: 4px;
}
/* delete */
.tr1 td:nth-of-type(2) a{
  position: absolute;
  right: 8px;
  bottom: 4px;
  color: rgb(248, 131, 131);
}
.tr1 td:nth-of-type(2) p{
  font-size: .7em;
}
.tr1 td:nth-of-type(2) h3{
  margin-top: 20px;
  font-size: .9em;
  color: rgb(121, 187, 146);
}

.item-qty{
  color: red;
}

/* sec1-a nth 2 */
.sec1-a:nth-of-type(2){
  border-top: 1px solid rgb(211, 211, 211);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.item-compute-container{
  width: 85%;
  height: 90%;
  border-radius: 10px;
  background-color: rgb(241, 240, 240);
  padding: 16px;
  border: 1px solid rgb(192, 192, 192);
}
.total-a{
 /*  border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.total-a p:nth-of-type(1){
  color: gray;
  font-size: .8em;
}
.total-a p:nth-of-type(2){
  color: rgb(98, 98, 98);
  font-size: .8em;
}

.total-int{
  font-weight: bold;
  font-size: 1em;
  color: rgb(59, 59, 59);
}
.total-disc{
  color: rgb(253, 98, 98);
  font-size: .8em;
  font-weight: bold;
  font-style: italic;
}

.line-divide{
  margin-top: 8px;
  border-bottom: .5px solid rgb(211, 211, 211);
  border-style: dotted;
}
.total-order{
  margin-top: 8px;
}



/* SECTION2 */

.section2{
  padding: 16px;
}

.section2 h4{
  color: rgb(75, 75, 75);
  border-top: 1px solid rgb(211, 211, 211);
  padding-top: 32px;
  padding-bottom: 16px;
}

.payment-method-container{

  display: grid;
  grid-template-columns: 1fr;
}

.payment-method-container > div{
  height: auto;/* 300px */
  /* border: 1px solid blue; */
}
.payment-a h5{
  color: rgb(58, 58, 58);
}
.payment-method{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 16px;
}
.payment-method li{
  border-bottom: 1px solid rgb(211, 211, 211);
  border-right: 1px solid rgb(211, 211, 211);
  padding: 8px 0;
  margin-bottom: 4px;
  color: rgb(75, 75, 75);
  font-size: .9em;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}.payment-method li.active{
  border-right: none;
  padding-left: 8px;
}
.payment-method li::before,
.payment-method li::after{
  content: '';
  position: absolute;
  right: 0;
  font-size: 1.1em;
  color: rgb(75, 75, 75);
  height: 2px;
  width: 10px;
  background-color: rgb(75, 75, 75);
  top: 16px;
}
  
.payment-method li::before{
  transform: rotate(45deg);
  top: 10px;
}
.payment-method li::after{
  transform: rotate(-45deg);
}


/* Payment B */
.payment-b{
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 16px;
  padding-right: 16px;
}

.p-b:nth-of-type(1){
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
}
.p-b:nth-of-type(1) h5{
  margin: 4px;
  margin-bottom: 16px;
  color: rgb(87, 87, 87);
}
.p-b:nth-of-type(1) label{
  font-size: .9em;
  color: gray;
  padding-bottom: 8px;
}
.p-b:nth-of-type(1) input{
  padding: 4px;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 8px;
}

#valid-through{
  color: gray;
}


/* Image maste/visa */
.p-b:nth-of-type(2){
  position: relative;
  padding-top: 8px;
}
.p-b:nth-of-type(2) img{
  display: none;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
}
.btn-submit{
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translate(-50%);
  width: 70%;
  padding: 16px;
  border: none;
  border-radius: 10px;
  border: 1px solid gray;
  background-color: gray;
  background-image: linear-gradient(to bottom right,#000274,#490136,#6b0103,#120088);
  color: white;
  box-shadow: 1px 1px 8px 0px black;
  cursor: pointer;
}
.btn-submit:hover{
  background-image: linear-gradient(to bottom right,#6b0103,#120088,#000274,#490136);
  color: white;
  box-shadow: 1px 1px 8px 1px black;
}








/* custom Confirm Popup */
.confirm-container{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 9;
  display: none;
  justify-content: center;
  align-items: center;
}.confirm-container.active{
  display: flex;
}

.confirm{
  position: relative;
  height: 100px;
  width: 70%;
  background-color: white;
  border-radius: 5px;
}

.confirm p{
  padding-left: 16px;
  padding-top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

.btn-confirm-container{
  position: absolute;
  right: 8px;
  bottom: 8px;
}

.yesConfirm,
.noConfirm{
  padding: 4px 16px;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 5px;
  color: white;
}

.yesConfirm{
  background-color: rgb(70, 179, 70);
}
.noConfirm{
  background-color: tomato;
}
.yesConfirm:hover{
  background-color: rgb(41, 143, 41);
}
.noConfirm:hover{
  background-color: rgb(214, 80, 57);
}














@media screen and (min-width: 576px){
  .container{
    width: 70%;
  }
}

/* MD */
@media screen and (min-width: 768px){
  .container{
    width: 50%;
  }


  .confirm{
    width: 40%;
  }
  
}

/* LG */
@media screen and (min-width: 992px){
  .container{
    width: 55%;
  }

  .section1{
    padding: 0 16px;
    grid-template-columns: 1.5fr 1fr;
  }

  .sec1-a:nth-of-type(2){
    border-top: 1px solid transparent;
  }

  .item-compute-container{
    width: 95%;
  }

  /* SECTION2 */

  .payment-method-container{
    grid-template-columns: 1fr 2fr;
  }


  .payment-b{
    grid-template-columns: 1fr 1.5fr;
  }

  .p-b:nth-of-type(1){
    padding-bottom: 0;
  }

  .p-b:nth-of-type(2) img{
    display: block;
  }


  .confirm{
    width: 25%;
  }
}

/* LG */
@media screen and (min-width: 1200px){
  .container{
    width: 60%;
  }

  .item-compute-container{
    width: 80%;
  }
}